<div class="main-wrapper">
  <div class="container px-3 px-lg-5">
    <article class="resume-wrapper mx-auto theme-bg-light p-5 mb-5 my-5 shadow-lg">

      <div class="resume-header">
        <div class="row align-items-center">
          <div class="resume-title col-12 col-md-6 col-lg-8 col-xl-9">
            <h2 class="resume-name mb-0 text-uppercase">Tállyto Rodrigues</h2>
            <div class="resume-tagline mb-3 mb-md-0">Fullstack Software Engineer</div>
          </div><!--//resume-title-->
          <div class="resume-contact col-12 col-md-6 col-lg-4 col-xl-3">
            <ul class="list-unstyled mb-0">
              <!--              <li class="mb-2"><i class="fas fa-phone-square fa-fw fa-lg me-2 "></i><a class="resume-link" href="tel:#">0123 4567 890</a></li>-->
              <li class="mb-2"><i class="fas fa-envelope-square fa-fw fa-lg me-2"></i><a class="resume-link"
                                                                                         href="mailto:rodrigues.tallyto@hotmail.com">rodrigues.tallyto&#64;hotmail.com</a>
              </li>
              <li class="mb-2"><i class="fas fa-globe fa-fw fa-lg me-2"></i><a class="resume-link"
                                                                               href="https://dev.to/tallyto">www.dev.to/tallyto</a>
              </li>
              <li class="mb-0"><i class="fas fa-map-marker-alt fa-fw fa-lg me-2"></i>Curitiba - PR</li>
            </ul>
          </div><!--//resume-contact-->
        </div><!--//row-->

      </div><!--//resume-header-->
      <hr>
      <div class="resume-intro py-3">
        <div class="row align-items-center">
          <div class="col-12 col-md-3 col-xl-2 text-center">
            <img class="resume-profile-image mb-3 mb-md-0 me-md-5  ms-md-0 rounded mx-auto"
                 src="assets/images/indiano.jpeg" alt="image">
          </div>

          <div class="col text-start">
            <p class="mb-0">
              Com cinco anos de experiência em desenvolvimento de software, sou um profissional apaixonado por
              tecnologia e inovação.
              <br><br>
              Além de desenvolver sistemas backend e microserviços, também tenho habilidades em frontend, utilizando
              Angular para criar interfaces dinâmicas e interativas. Estou sempre buscando aprender novas ferramentas e
              metodologias, por isso, também estou cursando Análise e Desenvolvimento de Sistemas na Estácio, para
              ampliar meus conhecimentos e competências.
            </p>
          </div><!--//col-->
        </div>
      </div><!--//resume-intro-->
      <hr>
      <div class="resume-body">
        <div class="row">
          <div class="resume-main col-12 col-lg-8 col-xl-9   pe-0   pe-lg-5">
            <section class="work-section py-3">
              <h3 class="text-uppercase resume-section-heading mb-4">Work Experiences</h3>
              <div class="item mb-3">
                <div class="item-heading row align-items-center mb-2">
                  <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">
                    Software Developer III</h4>
                  <div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-start text-md-end">X Platform | 2022 -
                    2024
                  </div>

                </div>
                <div class="item-content">
                  <p>
                    Desempenhei um papel fundamental no projeto do back-office para um marketplace de software, uma
                    iniciativa que teve um impacto significativo ao simplificar consideravelmente as operações dos
                    colaboradores responsáveis pelas vendas. Ao desenvolver um sistema abrangente, proporcionamos às
                    equipes de vendas ferramentas eficazes para gerenciar produtos, lojas, clientes e transações de
                    maneira mais ágil e eficiente.
                    <br><br>
                    Minha participação na definição da arquitetura de microserviços foi essencial. Esta abordagem não
                    apenas aprimorou a escalabilidade e manutenção do sistema, mas também permitiu um gerenciamento mais
                    especializado das áreas cruciais, incluindo a gestão de lojas, aspectos financeiros e aquisição de
                    dados de outros marketplaces.
                    <br><br>
                    Além disso, abracei o desafio de trabalhar com Angular, uma tecnologia nova para mim na época,
                    contribuindo para a interface de usuário do back-office. Essa experiência enriquecedora ampliou meu
                    escopo de habilidades, permitindo uma integração mais completa entre o frontend e o backend do
                    sistema.
                  </p>
                  <ul class="resume-list">
                    <li>Angular</li>
                    <li>Java</li>
                    <li>Microservices</li>
                  </ul>
                </div>
              </div><!--//item-->
              <div class="item mb-3">
                <div class="item-heading row align-items-center mb-2">
                  <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">Software Developer III</h4>
                  <div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-start text-md-end">Senior Sistemas |
                    2022 -
                    2023
                  </div>

                </div>
                <div class="item-content">
                  <p>
                    Como Desenvolvedor III na Senior Sistemas assumi a responsabilidade de trazer para dentro da
                    arquitetura da empresa uma solução open source de RPA (Robotic Process Automation) criando
                    automações para facilitar o dia a dia da equipe de financeiro, diminuindo o tempo que os
                    funcionários precisavam para processar notas fiscais.

                    <br><br>
                    Aturei na criação de plugins para integrar serviços legados (ERP) a novos serviços utilizando uma
                    interface amigável e com tratamento de erros, melhorando as integrações e tempo de resposta.
                    <br><br>
                    Trabalhei no desenvolvimento de novas funcionalidades para Rede Social Corporativa optimizando
                    querys que trouxeram bastante performance para os clientes ao navegar pela aplicação.
                  </p>
                  <ul class="resume-list">
                    <li>PostgreSQL</li>
                    <li>RPA</li>
                    <li>OpenSource</li>
                    <li>NodeJS</li>
                  </ul>
                </div>
              </div><!--//item-->
              <div class="item mb-3">
                <div class="item-heading row align-items-center mb-2">
                  <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">Research Software Engineer I</h4>
                  <div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-start text-md-end">Senior Sistemas |
                    2021 -
                    2022
                  </div>

                </div>
                <div class="item-content">
                  <p>
                    Como Engenheiro de Software de Pesquisa I, participei ativamente de projetos desafiadores de
                    novembro de 2021 a junho de 2022, concentrando-me na pesquisa e desenvolvimento de soluções
                    inovadoras. Durante esse período, dediquei especial atenção ao campo de OCR, conduzindo uma pesquisa
                    abrangente para avaliar as melhores abordagens na extração de dados manuscritos e impressos.
                    <br><br>
                    Além disso, explorei novas áreas ao contribuir para o desenvolvimento de um tour virtual envolvente
                    utilizando Unity e realidade aumentada. Este projeto ampliou meu conjunto de habilidades,
                    permitindo-me aplicar tecnologia de ponta para criar experiências imersivas e interativas.
                  </p>
                </div>
              </div><!--//item-->
              <div class="item">
                <div class="item-heading row align-items-center mb-2">
                  <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">Product Engineer</h4>
                  <div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-start text-md-end">OmniChat | 2020 -
                    2021
                  </div>

                </div>
                <div class="item-content">
                  <p>Como Software Developer na OmniChat, desempenhei um papel fundamental no desenvolvimento de novas
                    funcionalidades, integração com as APIs do Facebook e na resolução de bugs em projetos desafiadores.
                    Destaco meu impacto significativo na melhoria da comunicação com o sistema por meio de filas,
                    aprimorando assim a qualidade do atendimento aos clientes por meio do bot. Minhas contribuições
                    garantiram que as mensagens fossem processadas de forma eficiente, resultando em um atendimento mais
                    rápido e preciso.
                    <br><br>
                    Além disso, liderei iniciativas de refatoração que fortaleceram a resiliência do código e
                    facilitaram a manutenção contínua. Introduzi práticas de teste que elevaram a qualidade do código
                    implementado, assegurando uma transição suave para a produção.</p>
                </div>
              </div><!--//item-->
              <div class="item">
                <div class="item-heading row align-items-center mb-2">
                  <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">Node.js Developer - Freelancer</h4>
                  <div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-start text-md-end">Buddy.vet | 2019 -
                    2020
                  </div>

                </div>
                <div class="item-content">
                  <p>
                    Como freelancer, fui contratado para liderar o desenvolvimento de uma inovadora plataforma de
                    agendamentos de passeios com pets e veterinários. Minha responsabilidade abrangeu o desenvolvimento
                    do sistema back-end utilizando JavaScript e PostgreSQL. Em um prazo de 4 meses, concebi e
                    implementei o núcleo da aplicação, incorporando recursos essenciais para a experiência do usuário.
                    <br><br>
                    Além disso, realizei com sucesso a integração com um meio de pagamentos, aprimorando a
                    funcionalidade transacional da plataforma. Como responsável pela stack completa, desde a codificação
                    até o deploy, desempenhei um papel crucial na condução do projeto até a fase de produção.
                    <br><br>
                    O resultado do meu trabalho foi fundamental para a entrada da empresa no mercado, proporcionando uma
                    solução robusta e inovadora para os usuários.
                  </p>
                </div>
              </div><!--//item-->

            </section><!--//work-section-->


            <section class="project-section py-3">
              <h3 class="text-uppercase resume-section-heading mb-4">Projects</h3>
              <div class="item mb-3">
                <div class="item-heading row align-items-center mb-2">
                  <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">Invmetro</h4>
                  <div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-start text-md-end">Particular</div>

                </div>
                <div class="item-content">
                  <p>Atualização e modernização do site <a href="https://www.invmetro.com.br/#/" class="theme-link">Invmetro</a>
                    o mesmo utilizava Wordpress tinha alguns problemas de segurança sendo invadido algumas vezes. Fui
                    contatado para atualizar o contúdo do site e aproveitei para refazer ele em Angular para facilitar
                    as atualizações e resolver os problemas de segurança.</p>


                </div>
              </div><!--//item-->

            </section><!--//project-section-->
          </div><!--//resume-main-->
          <aside class="resume-aside col-12 col-lg-4 col-xl-3 px-lg-4 pb-lg-4">
            <section class="skills-section py-3">
              <h3 class="text-uppercase resume-section-heading mb-4">Skills</h3>
              <div class="item">
                <h4 class="item-title">Technical</h4>
                <ul class="list-unstyled resume-skills-list">
                  <li class="mb-2">AWS/Lambda/SQS</li>
                  <li class="mb-2">CI/CD</li>
                  <li class="mb-2">JavaScript/Angular/React</li>
                  <li class="mb-2">Python/Java/Go
                  <li>
                  <li class="mb-2">PostgreSQL/MySQL</li>
                  <li class="mb-2">Docker/Serverless</li>
                  <li class="mb-2">DynamoDB/MongoDB</li>
                  <li class="mb-2">Jira/Sonar</li>
                  <li class="mb-2">Agile Framework</li>
                  <li class="mb-2">Clean Code</li>
                  <li class="mb-2">Design Patterns</li>
                  <li class="mb-2">Object-oriented design</li>
                </ul>
              </div><!--//item-->
              <div class="item">
                <h4 class="item-title">Professional</h4>
                <ul class="list-unstyled resume-skills-list">
                  <li class="mb-2">Effective communication</li>
                  <li class="mb-2">Team player
                  <li>
                  <li class="mb-2">Strong problem solver</li>
                </ul>
              </div><!--//item-->
            </section><!--//skills-section-->
            <section class="education-section py-3">
              <h3 class="text-uppercase resume-section-heading mb-4">Education</h3>
              <ul class="list-unstyled resume-education-list">
                <li class="mb-3">
                  <div class="resume-degree font-weight-bold">Analysis and Development</div>
                  <div class="resume-degree-org text-muted">Estácio</div>
                  <div class="resume-degree-time text-muted">2022 - 2024</div>
                </li>
                <li>
                  <div class="resume-degree font-weight-bold">Computer Science</div>
                  <div class="resume-degree-org text-muted">UFRR</div>
                  <div class="resume-degree-time text-muted">2014 - 2019</div>
                </li>
              </ul>
            </section><!--//education-section-->
            <section class="education-section py-3">
              <h3 class="text-uppercase resume-section-heading mb-4">Awards</h3>
              <ul class="list-unstyled resume-awards-list">
                <li class="mb-3">
                  <div class="font-weight-bold">Hackathon - RipLiveQuery</div>
                  <div class="text-muted">2st Place (2021)</div>
                </li>
              </ul>
            </section><!--//education-section-->
            <section class="skills-section py-3">
              <h3 class="text-uppercase resume-section-heading mb-4">Languages</h3>
              <ul class="list-unstyled resume-lang-list">
                <li class="mb-2">Portuguese <span class="text-muted">(Native)</span></li>
                <li class="mb-2">English <span class="text-muted">(Beginner)</span></li>
                <li>Spanish <span class="text-muted">(Beginner)</span></li>
              </ul>
            </section><!--//certificates-section-->
            <section class="skills-section py-3">
              <h3 class="text-uppercase resume-section-heading mb-4">Interests</h3>
              <ul class="list-unstyled resume-interests-list mb-0">
                <li class="mb-2">Photography</li>
                <li>Travelling</li>
              </ul>
            </section><!--//certificates-section-->

          </aside><!--//resume-aside-->
        </div><!--//row-->
      </div><!--//resume-body-->
      <hr>
      <div class="resume-footer text-center">
        <ul class="resume-social-list list-inline mx-auto mb-0 d-inline-block text-muted">
          <li class="list-inline-item mb-lg-0 me-3"><a class="resume-link" href="https://github.com/tallyto" target="_blank"><i
            class="fab fa-github-square fa-3x me-2" data-fa-transform="down-4"></i><span
            class="d-none d-lg-inline-block lead text-muted">github.com/tallyto</span></a></li>
          <li class="list-inline-item mb-lg-0 me-3"><a class="resume-link" href="https://www.linkedin.com/in/tallyto/" target="_blank"><i
            class="fab fa-linkedin fa-3x me-2" data-fa-transform="down-4"></i><span
            class="d-none d-lg-inline-block lead text-muted">linkedin.com/in/tallyto</span></a></li>
        </ul>
      </div><!--//resume-footer-->
    </article>

  </div><!--//container-->

  <footer class="footer text-center py-4">
    <!--/* This template is free as long as you keep the footer attribution link. If you'd like to use the template without the attribution link, you can buy the commercial license via our website: themes.3rdwavemedia.com Thank you for your support. :) */-->
    <small class="copyright text-muted">Designed with <span class="sr-only">love</span><i class="fas fa-heart"></i> by
      <a class="theme-link" href="http://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a> for
      developers</small>
  </footer>

</div><!--//main-wrapper-->
